$little-padding: 0.5rem;
$base_padding: 1rem;
$medium-padding: 1.5rem;

$little-margin: 0.5rem;
$base_margin: 1rem;
$medium-margin: 1.5rem;

$primary-blue: #4169e1;
$white: #fff;
$primary-white: #f6f6f6;
