@import "variables";

@mixin flex($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  height: 100vh;
  @include flex();
  flex-direction: column;
}

.container {
  @include flex();
  flex-direction: column;
}

button {
  margin: $little-margin;
  padding: $little-padding $base_margin;
  font-weight: bold;
  background: royalblue;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: system-ui, sans-serif;
  cursor: pointer;

  &:active {
    background-color: rgba(78, 78, 78, 0.37);
  }
}

.top-heroes-items {
  width: 500px;
  @include flex(space-between);
  & > div {
    background-color: royalblue;
    padding: $base_padding;
    border-radius: 5px;
    font-weight: bold;
    color: white;
  }
}

h2 {
  margin: $base_margin;
}

.hidden {
  display: none;
}

.heroes-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $base_margin;

  .item {
    background: royalblue;
    padding: $little-padding + 0.25;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: $little-margin + 0.25;
    cursor: pointer;
  }
}
.selected-item {
  margin-top: $base_margin + 1;
  background-color: #f6f6f6;
  padding: $base_padding + 0.5;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  body {
    height: 100%;
  }
  .container {
    width: 100%;
    padding: $little-padding;
  }
  .dashboard {
    width: 100%;
  }
  .top-heroes-items {
    width: 100%;
    flex-direction: column;
  }
  .top-item {
    width: 100%;
    padding: $little-padding;
    margin-bottom: $base_margin;
  }

  .selected-item {
    margin-bottom: $base_margin * 7;
  }
}
