<h1>Tour of Heroes</h1>
<button id="dashboard-btn">Dashboard</button>
<button id="heroes-btn">Heroes</button>

<div class="dashboard">
  <!-- <h2>wind strom details !</h2> -->
  <div class="top-heroes">
    <h2>Top Heroes</h2>
    <div class="top-heroes-items">
      <div>{{ heroesList[0].name }}</div>
      <div>{{ heroesList[1].name }}</div>
      <div>{{ heroesList[2].name }}</div>
      <div>{{ heroesList[3].name }}</div>
      <!-- <div *ngFor="let hero of heroesList">{{ hero.id }}- {{ hero.name }}</div> -->
    </div>
  </div>
</div>
